.author {
  display: flex;
  flex-direction: row;
  /*border-top: 0.5rem solid var(--color-primary);*/
  /*border-top: 2px rgb(232, 232, 232) dotted;*/
  padding-top: 2rem;
  color: white;
}

.author__imgContainer {
  flex-basis: 25%;
  color: white;
}

.author__img {
  border-radius: 50%;
  color: white;
}

.author__detailsContainer {
  flex-basis: 65%;
  margin-left: 0%;
  color: white;
}

.author__links {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: white;
}

@media screen and (min-width: 520px) {
  .author__links {
    flex-direction: row;
    color: white;
  }
}

.author__linkText {
  
  color: var(--color-foreground);
  font-weight: var(--font-weight-normal);
  margin-bottom: 0.3rem;
  margin-left: 0.7rem;
  color: white;
  transition: color var(--global-transition-time) ease-in-out;
  text-decoration: underline;
/*  text-underline-offset: 0.125rem;
  text-decoration-thickness: 0.125rem;*/
}

.author__name {
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
  color: white;
}

.author__description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  font-weight: var(--font-weight-light);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
  color: white;
}
