.contentList {
  list-style: none;
  padding-inline-start: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contentList__post {
  margin-bottom: 4rem;
}

.contentList__topSection {
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
  padding: 2rem;
}

.contentList__topSectionblue {
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
  padding: 2rem;

  border-radius: 2rem;
}

.contentList__selectTopic {
  color: #002b5b;
  padding: 0rem;
  padding-left: 0rem;
}

.contentList__featuredPost {
}

.contentList__postList {
  padding: 0rem;
}

.contentList__postTopSection {
  margin-left: auto;
  margin-right: auto;
  max-width: 125rem;
  padding: 0rem;
}

.contentList__landingTopSection {
  /* Layout Properties */

  margin-left: auto;
  margin-right: auto;
  max-width: 105rem;
  padding: 0rem;
}

.contentList__postTopSectionBg {
  /* Layout Properties */

  top: 1%;
  left: 1%;
  position: absolute;
  width: 1492px;
  height: 1340px;
  transform: matrix(0.98, -0.17, 0.17, 0.98, 0, 0);
  /* UI Properties */
  background: #ffdf7f 0% 0% no-repeat padding-box;
  z-index: 10;
  opacity: 1;
}

.contentList__popularPosts {
  padding: 0rem;
  border-width: 1px;
  border-color: rgb(223, 223, 223);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.contentList__popularPostHeading {
  padding: 1rem;
  padding-top: 1.8rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: white;
  background-color: #1b9ca4;

  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-body);
  box-shadow: 0px 12px 1px 0 #1b9ca4;

  font-size: 1.3rem;
  line-height: 1;
}

.contentList__popularPost {
  padding: 1rem;

  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-body);
  color: var(--color-foreground);
  font-size: 1.5rem;
  line-height: 1.6;
  border-bottom: 0.15rem solid #ebebeb;
  border-left: 0.15rem solid #ebebeb;
  border-right: 0.15rem solid #ebebeb;
}

.contentList__SocialMedia {
  padding: 1rem;
  padding-top: 1.8rem;
  border-radius: 1rem;
  color: white;
  background-color: #1b9ca4;

  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-body);
  box-shadow: 0px 12px 1px 0 #1b9ca4;

  font-size: 1.3rem;
  line-height: 1;
}

.contentList__titleLink {
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 0.5rem;
  display: block;
  text-decoration: underline;
}

.contentList__titleLink:hover {
  color: var(--color-primary);
}

.contentList__titleLink:focus {
  outline-width: 0;
  box-shadow: var(--color-primary) 0 0 0 0.25rem;
  transition: box-shadow var(--global-transition-time) ease 0s;
}

.contentList__titleLink:focus:active {
  outline-width: 0;
  box-shadow: unset;
}

.contentList__readmorelink {
  /*  cursor: pointer;
  text-decoration: none;
  margin-bottom: 2rem;
  display: block;
  text-decoration: underline;*/

  background-color: var(--color-button);
  color: var(--color-foreground);
  text-transform: uppercase;
  font-size: 1rem;
  border: 0.25rem solid var(--color-button);
  border-radius: 2rem;
  padding: 0.25rem 0.5rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-headingb);
  font-size: 0.875rem;
  text-decoration: none;
  margin-right: 0.5rem;
  margin-bottom: 0.75rem;
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inherit;
}

.contentList__readmorelink:hover {
  /*  cursor: pointer;
    text-decoration: none;
    margin-bottom: 2rem;
    display: block;
    text-decoration: underline;*/

  background-color: var(--color-buttonhover);
  color: var(--color-foreground);
  text-transform: uppercase;
  font-size: 1rem;
  border: 0.25rem solid var(--color-buttonhover);
  border-radius: 2rem;
  padding: 0.25rem 0.5rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-headingb);
  font-size: 0.875rem;
  text-decoration: none;
  margin-right: 0.5rem;
  margin-bottom: 0.75rem;
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.contentList__button {
  background-color: yellow;
}

.contentList__button:hover {
  background-color: yellow;
}


.contentList__homelink {
  /*  cursor: pointer;
  text-decoration: none;
  margin-bottom: 2rem;
  display: block;
  text-decoration: underline;*/

  background-color: white;
  color: var(--color-foreground);
  text-transform: uppercase;
  font-size: 1rem;
  border: 0.25rem solid white;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-headingb);
  font-size: 0.875rem;
  text-decoration: none;
  margin-right: 0.5rem;
  margin-bottom: 0.75rem;
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inherit;
  text-decoration: inherit;
}

.contentList__capitalize {
  text-transform: capitalize;
}

.contentList__sharePost {
  /*  cursor: pointer;
  text-decoration: none;
  margin-bottom: 2rem;
  display: block;
  text-decoration: underline;*/

  background-color: white;
  color: var(--color-foreground);
  
  font-size: 1.3rem;
  border: 0.25rem solid white;
  border-radius: 1rem;
  padding: 0rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-headingb);
  
  text-decoration: none;
 
  padding: 1.2rem;

  display: inherit;
  text-decoration: inherit;
  border-width: 1px;
  border-color: rgb(223, 223, 223);
}

.contentList__title {
  font-weight: 900;
  font-family: var(--font-family-headingh);
  color: var(--color-foreground);
  font-size: 1.5rem;
  line-height: 1.6;
}

.contentList__topposttitle {
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-body);
  color: var(--color-foreground);
  font-size: 1.5rem;
  line-height: 1.6;
}

.contentList__author {
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-body);
  color: var(--color-foreground);
  font-size: 1rem;
  line-height: 1.6;
}

.contentList__excerpt p {
  font-size: 1.125rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-body);
  color: var(--color-foreground);
}

.contentList__excerpt2 {
  font-size: 1.125rem;
  line-height: 1.8rem;
  margin-bottom: 0rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-body);
  color: var(--color-foreground);
}

.ellipse{
  background-color: #ffdf7f;
  height: 715px;
  width: 999px;
  border-radius: 50%;
  top: -820px;
  left: -500px;
 
  transform: rotate(45deg) scale(1.7);
  position: relative;
  z-index: 0;
}


.pods {
 border-color: #EBEBEB;
 border-radius: 12px;
  border-width: 2px;

  }



